//acá irá las tipografias y los tamaños de la fuente
.parrafo-principal{
 position: relative;
 bottom: 400px;
 max-width: 40%;
 text-align: left;
 font-size: 20px;
}


// // Maps
// $font-sizes:(

// )