// acá esta toda la estilizacion de las imagenes

.logo-img{
    width: 50px;
}
.cruz{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(216.00, 78%, 57.99999999999999%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(221.48, 81%, 34%) 0, transparent 55%);
    position: relative;
    left: 650px;
    height: 450px;
    max-width: 50%;

}