// acá esta toda la estilizacion de las imagenes

.logo-img{
    width: 60px;
    border-radius: 30px;
}
.cruz{
    background-color: #111927;
    position: relative;
    left: 650px;
    height: 450px;
    max-width: 50%;
}