// acá esta toda la estilizacion de las imagenes

.logo-img{
    width: 60px;
    border-radius: 30px;
}
.cruz{
    background-color: #111927;
    position: relative;
    left: 650px;
    height: 450px;
    max-width: 50%;
}

.resurreccion{
    position: relative;
    left: auto;
    height: 200px;
}

.vuelta{
    position: relative;
    left: auto;
    height: 200px;
}

.amor{
    position: relative;
    left: auto;
    height: 200px;
}

.grid-area{
    width: 100%;
    height: auto;
    transition: filter 0.3s ease-in-out;
}

.imgs {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    &:hover{
        filter: grayscale(0%);
    }
}