// este archivo es el index del html

body{
    background-color: #000;
    background-image: 
        radial-gradient(at 47% 33%, hsl(216.00, 78%, 57.99999999999999%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(221.48, 81%, 34%) 0, transparent 55%);
    color: white;
    font-family: 'Roboto', sans-serif;

}